//variables
/*
    déclarer une variable en SASS
    NB : C'est vous qui choisissez votre convention de nommage. Adopter une convention qui
    qui soit claire et compréhensible rapidement.
*/

$color-primary:#CC9933;
$color-secondary:#231f20;

/*
    je peux grace à la fonction "lighten" obtenir plusieurs variations de couleurs plus claire.
    --
    La fonction "darken" me permet de faire la même chose mais en sens inverse.
*/

/*$clr-gray-base: #000;
$clr-gray-dark: lighten($clr-gray-base, 20%);
$clr-gray: lighten($clr-graybase, 50%);
$clr-gray-light: lighten($clr-graybase, 70%);
$clr-gray-lighter: lighten($clr-graybase, 90%);
$clr-gray-lightest: lighten($clr-graybase, 95%);
*/
//varibles Fonts

$ff-primary: 'Ubuntu', sans-serif;
$ff-secondary: 'Roboto Condensed', sans-serif;

