<div class="container">
  <header class="mb-4">
    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          {{ title }}
        </a>
      </div>
    </nav>
  </header>

  <main class="container">

      <div class=" input-group mb-3">
        <div class="input-group-prepend  ">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input">
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with checkbox">
      </div>
  </main>
  <!-- Footer | Pied de page -->
  <footer class="text-center">
    Copyright &copy; 2018 - WF3 Trappes
  </footer>
</div>
