/*---------------------------------------------------
    Je souhaite changer la couleur du fond de ma page
---------------------------------------------------*/
html{
    font-size: 62.5%;
    /*1rem=10px*/
}

* {
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    background: url(../../dist/img/back.png);
    
}

/*---------------------------------------------------
                 Layout | Mise en page de main
-----------------------------------------------------
    1 - Je souhaite définir la largeur de ma page à 960px
    2 - Je souhaite que mon contenu soit centré au milieu
    3 - Le fond doit être de couleur blanche
    4 - Je souhaite rajouter une marge top/bottom de 40px
    5 - Avec la propriété border-radius, ajoutez un arrondi de 5px
    6 - Grâce à box-shadow, ajoutez une ombre légère autour du "main"
---------------------------------------------------*/

main{
    width: 960px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    /*Overflow: hiden; cache tous les éléments qui depassent de la balise "main" */
    overflow: hidden;
}